<div class="flex h-screen">
   <!-- Sidebar -->
   <nav class="w-64 bg-gray-50 p-4 space-y-3 shadow-md">
     <!-- Home Link -->
     <a routerLink="/dashboard" routerLinkActive="font-bold text-blue-600 bg-blue-200"
        class="block px-3 py-2 rounded hover:bg-blue-200 hover:text-blue-800 transition-colors duration-300">Home</a>

     <!-- Ahmedabad Link -->
     <a routerLink="/ahmedabad" routerLinkActive="font-bold text-teal-600 bg-teal-200"
        class="block px-3 py-2 rounded hover:bg-teal-200 hover:text-teal-800 transition-colors duration-300">Ahmedabad</a>

     <!-- Bangalore Link -->
     <a routerLink="/bangalore" routerLinkActive="font-bold text-green-600 bg-green-200"
        class="block px-3 py-2 rounded hover:bg-green-200 hover:text-green-800 transition-colors duration-300">Bangalore</a>

     <!-- Bhubaneshwar Link -->
     <a routerLink="/bhubaneshwar" routerLinkActive="font-bold text-yellow-600 bg-yellow-200"
        class="block px-3 py-2 rounded hover:bg-yellow-200 hover:text-yellow-800 transition-colors duration-300">Bhubaneshwar</a>

     <!-- Faridabad Link -->
     <a routerLink="/faridabad" routerLinkActive="font-bold text-orange-600 bg-orange-200"
        class="block px-3 py-2 rounded hover:bg-orange-200 hover:text-orange-800 transition-colors duration-300">Faridabad</a>

     <!-- Guwahati Link -->
     <a routerLink="/guwahati" routerLinkActive="font-bold text-purple-600 bg-purple-200"
        class="block px-3 py-2 rounded hover:bg-purple-200 hover:text-purple-800 transition-colors duration-300">Guwahati</a>

     <!-- DRC Link -->
     <a routerLink="/drc" routerLinkActive="font-bold text-pink-600 bg-pink-200"
        class="block px-3 py-2 rounded hover:bg-pink-200 hover:text-pink-800 transition-colors duration-300">DRC</a>
   </nav>
 
   <!-- Page Content -->
   <!-- <main class="flex-1 p-4 bg-gray-50">
     <router-outlet></router-outlet>
   </main> -->
</div>
